.form-header{
    background: linear-gradient(90deg, #d93f14 0%, #EE7E06 100% ) !important;
}

.form-container {padding: 0 !important;}

.form-container {
    background-color: #fff !important;
    border-radius: 6px !important;
}
.step-item.active .step-number {
    border-color: #d93f14 !important;
    color: white !important;
    background: linear-gradient(90deg, #d93f14 0%, #EE7E06 100% ) !important;
}
.step-number {
    border: 3px solid #EE7E06 !important;    
}
.step-label {
    color: #121212 !important;
}
.step-item.active .step-label {
    color: #d85a37 !important;
}
.progress-bar-custom {
	height: 17px !important;
}
.progress-fill {
    background: linear-gradient(90deg, #d93f14 0%, #EE7E06 100% ) !important;
}
h5.border-bottom {
    color: #000000 !important;
}
h5.border-bottom i {
    background: -webkit-linear-gradient(#d85a37, #ec8e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}
.btn-primary , .btn-outline-primary {
    background: linear-gradient(to right, #ec902d, #d93f14) !important;
    color: #fff !important;
}


.step-connector {
    background: #ec8e29 !important;    
}
.step-number {
    border: 3px solid #EE7E06 !important;
}
.step-label {
    color: #121212 !important;
}
.step-item.active .step-number {
    background: linear-gradient(90deg, #d93f14 0%, #EE7E06 100% ) !important;
    border-color: #d93f14 !important;       
}
.step-item.active .step-label {
    color: #d85a37 !important;
}

.section-title i {
    background: -webkit-linear-gradient(#d85a37, #ec8e29) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.step-item.completed ~ .step-connector, .step-item.active ~ .step-connector {
    background: #ec8e29 !important;
}
.price-table .total-row td {
    background: linear-gradient(to right, #ec902d, #d93f14) !important;
}
.section-title {
    border-color: #ec902d !important;
}

.step-item.completed ~ .step-connector, .step-item.active ~ .step-connector {
    background: #ec8e29 !important;
}
.step-number {
    /* background: #fff !important; */
    border: 3px solid #EE7E06 !important;
}
.step-item.active .step-number {
    background: linear-gradient(90deg, #d93f14 0%, #EE7E06 100% ) !important;
    border-color: #d93f14 !important;
}
.section-title {
	border-bottom: 2px solid var(--primary-color) !important;
}
.section-title i {
    background: -webkit-linear-gradient(#d85a37, #ec8e29) !important; 
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important ;
}







